<h1>Tax Calculator - Result</h1>

<% if @tax.present? %>
  <p>El monto del impuesto calculado es: <strong><%= @tax %></strong></p>
<% else %>
  <p>No se pudo calcular el impuesto. Por favor, verifica los datos ingresados.</p>
<% end %>

<%= link_to 'Back to tax calculator', tax_calculator_path %>