<div class="container">
  <div id="<%= dom_id buyer %>">
    <p><strong>Name:</strong><%= buyer.name %></p>
    <p><strong>Buyer type:</strong><%= buyer.buyer_type %></p>
    <p><strong>Country:</strong><%= buyer.country %></p>
  </div>
</div>
